.not-found[data-v-d0490076]{display:grid;place-items:center;gap:12px;padding:48px}.icon[data-v-d0490076]{font-size:48px}.title[data-v-d0490076]{font-size:20px;font-weight:700}.desc[data-v-d0490076]{color:var(--text-secondary)}
